@st-import [ secondaryFontColor ] from "../../styles/variables.st.css";

.root {
  -st-states: highlight;
  width: 100%;
}

.root :is(div, input) {
  width: inherit;
}

.root .item {
  color: value(secondaryFontColor);
}
