{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "overrides": [
    {
      "files": ["*.js", "*.ts", "*.tsx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
