@st-import [ mainLightColor, mainDarkColor ] from "../../styles/variables.st.css";
@st-import [ flex, flexCenter ] from "../../styles/common.st.css";


:vars {
  buttonXTransition: -0.5rem
}

.root {
  -st-extends: flexCenter;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem 0;
  text-align: center;
  background-color: value(mainLightColor);
  border-radius: 0.5rem;
  color: value(mainDarkColor);
}

.text {
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
}

.button {
  -st-extends: flexCenter;
  background: none;
  transform: translateX(value(buttonXTransition));
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
  border: .5px solid value(mainDarkColor);
}

.button:active {
  transform: translate(-0.5rem, value(buttonXTransition));
}
