:root {
    --primary-color: #FDA75F;
    --primary-font-color: primaryFontColor;
    --primary-background-color: white;
    --primary-width: value(mobileMaxWidth);
    --secondary-color: #ED718B;
    --secondary-font-color: value(secondaryFontColor);
    --primary-gardient: mainGardient;
}

:vars {
  main-dark: #000000;
  main-light: #ffffff;
  mainDarkColor: value(main-dark);
  mainLightColor: value(main-light);
  backgroundColor: value(mainDarkColor);
  primaryFontColor: value(main-dark);
  secondaryFontColor: #ffffff;
  mobileMaxWidth: 812px;
  mainGardient: linear-gradient(95.52deg, #FDA75F -10.13%, #ED718B 142.67%);
}
