@st-import [ mobileMaxWidth ] from "../../styles/variables.st.css";
@st-import [ mainGardientBg ] from "../../styles/mixins.st.css";
@st-import [ rem ] from "polished";
@st-import [ flexCenter ] from "../../styles/common.st.css";

.root {}

.headerContainer {
    width: 100%;
    -st-mixin: flexCenter;
    flex-direction: column;
    margin-top: rem(var(--size-32));
}

.mainHeader {
    color: var(--primary-font-color);
    font-family: main;
    font-size: rem(var(--size-64));
    margin: 0;
    line-height: 1;
}

.mainHeader span {
    font-size: rem(var(--size-128));
}

.version {
    font-size: rem(var(--font-size-small));
    color: var(--primary-font-color);
}

.imageContainer {
    margin: rem(var(--size-12)) auto;
    -st-mixin: flexCenter;
}

.createGameButton {
    width: 100%;
    padding: rem(var(--size-24)) rem(var(--size-64));
    font-size: rem(var(--font-size-medium));
    border-radius: var(--size-25);
    -st-mixin: flexCenter;
    text-decoration: none;
    margin: 0 auto;
    max-width: rem(var(--main-button-width));
    -st-mixin: mainGardientBg;
}

.or {
    color: var(--primary-font-color);
    text-align: center;
    font-size: rem(var(--size-18));
}

.moreInfoButton {
    color: var(--grey-color);
    background: none;
    border: none;
    -st-mixin: flexCenter;
    font-size: rem(var(--font-size-medium));
    width: 100%;
    font-family: main;
}

.moreInfoButton img {
    margin-right: rem(var(--size-10));
}
