:import {
    -st-from: "./../styles/variables.st.css";
    -st-named: fontColor, backgroundColor;
}

.root {
    min-height: 100vh;
    background-color: value(backgroundColor);
    color: value(fontColor);
}
