:import {
    -st-from: "../../styles/variables.st.css";
    -st-named: fontColor, backgroundColor;
}

:import {
    -st-from: "../../styles/common.st.css";
    -st-named: flexCol;
}


.root {
    -st-extends: flexCol;
    min-height: 100vh;
    background-color: value(backgroundColor);
    color: value(fontColor);
}
