@st-import [ fontColor, backgroundColor ] from "../../styles/variables.st.css";
@st-import [ flexCol ] from "../../styles/common.st.css";

.root {
    -st-extends: flexCol;
    min-height: 100vh;
    background-color: value(backgroundColor);
    color: value(fontColor);
}
